#logger {
    border: 1px solid #f89406;
    background: #eeeeee;
    min-height: 30px;
}

.error {
    color: red;
    background: rgba(240, 22, 0, 0.12);
    border: 1px solid rgba(158, 0, 1, 0.87);
    margin: 5px;
}